<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2008年，进入大学接触编程。</p>
        <p>2012年，正式走入程序员行业，因为刚入行各种被鄙视...</p>
        <p>2012年-2014年，在疯狂的加班，打磨自己</p>
        <p>2015年，开始写博客。</p>
        <p>2016年，为自己的梦想奔跑，创业...</p>
        <p>希望有一天可以赚很多的钱，去实现自己心里一直想做的事情。</p>
        <p>我是小尾巴，一个仍然在路上，向往自由和梦想的人！</p>
         <p>
          <strong>个人公众号</strong>：<a href="/assets/images/gongzong.jpg" target="_blank">程序猿小尾巴</a>，欢迎关注
        </p>
        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>wei880soft</strong></li>
        </ul>
       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，喜欢就关注点赞，如果我的文章帮助或者触动了你，打赏一下呗)
       </p>

       <p align="center">
         <img src="/assets/images/tip.jpg" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>