<div class="about row">
    <div class="col-md-12">
       <h2>欢迎来到小尾巴课堂</h2>
        <br/>
        <p>小尾巴课堂马上要开课啦，欢迎大家关注</p>
        <p>我们的课程主要是java相关，包含java se，jvm原理，spring框架原理分析， springboot原理分析，springcloud原理分析，大数据，消息中间件，架构等等</p>
        <p>课程等级：分初级，中级，高级</p>
        <p>初级：针对0-2年开发经验</p>
        <p>中级：针对2-4年开发经验</p>
        <p>高级：针对4年以上</p>
        <p>课程方式采用录播，大家可以针对平时工作中欠缺的知识点，查缺补漏，有任何疑问都可以讨论，帮助大家少走弯路，早日成为技术大牛</p>
        <p>老师来自于阿里巴巴等一线互联网公司，7年以上跌爬滚打的干货</p>
        <p>受众群体：在校大学生，已入坑的程序猿</p>

         <p>
          <strong>欢迎关注个人公众号</strong>：<a href="/assets/images/gongzong.jpg" target="_blank">程序猿小尾巴</a>，“分享技术、感悟人生”欢迎关注
        </p>


     <p>好消息，小尾巴redis课程开奖了，<a href="/2019/08/21/redis-class.html">点击进入</a></p>

    </div>
</div>